<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Uncalled Innovators</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="description"
        content="Uncalled Innovators - Empowering Tomorrow, Connecting Today. Learn and collaborate with hands-on experience in a rapidly changing world.">

    <!--favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon-16x16.png">
    <link rel="manifest" href="../public/favicon/site.webmanifest">
    <link rel="mask-icon" href="../public/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons -->
    <!-- <link href="../public/img/favicon.png" rel="icon"> -->
    <!-- <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/vendor/aos/aos.css" rel="stylesheet">
    <link href="../public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Yummy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    #blogs-post{
        margin-top: 10%;
    }
  </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="../public/img/ui.png" alt="">
                <!-- <h1>Yummy<span>.</span></h1> -->
            </a>

            <nav id="navbar" class="navbar">
                <ul>

                    <li><a href=<%=process.env.BASE_URL+ "/hackathon" %>>Hackathon</a></li>

                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/temp">Blogs</a></li>
                    <li><a href="/infra">Infraseek</a></li>
                    <li><a href="/profile"><img id="avatarImage" width="10%" height="8%" src="<%=user.image%>"
                                alt="bear"></a></li>


                </ul>
            </nav><!-- .navbar -->

            <!-- create a user icon with to dredirect profile informatin-->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>

    <!-- <h1>Compose</h1>
    <form action="/blogs/compose" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" class="form-control" name="postTitle">
            <label for="image">Upload image</label>
            <input type="file" name="image" accept="image/*" required>
            <label for="postBody">Post</label>
            <textarea name="postBody" class="form-control" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Publish</button>
    </form > -->

    <!-- new form -->
    <div class="container" id="blogs-post">
        <h1 class="text-center mt-5">Create a Blog Post</h1>
        <form action="/blogs/compose" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="imageInput" name="image" accept="image/*" >
            </div>
            <div class="form-group">
                <label for="postTitle">Title</label>
                <input name="postTitle" type="text" class="form-control" id="postTitle" placeholder="Enter a title">
            </div>
            <div class="form-group">
                <label for="postBody">Description</label>
                <textarea  name="postBody" class="form-control" id="descriptionInput" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <!-- Vendor JS Files -->
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../public/vendor/aos/aos.js"></script>
    <script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- <script src="../public/vendor/php-email-form/validate.js"></script> -->
    
    <!-- Template Main JS File -->
    <script src="../public/js/main.js"></script>
    
    </body>
    
    </html>
