<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Uncalled Innovators</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="description"
        content="Uncalled Innovators - Empowering Tomorrow, Connecting Today. Learn and collaborate with hands-on experience in a rapidly changing world.">


    <!-- Favicons -->
    <!-- <link href="../public/img/favicon.png" rel="icon"> -->
    <!-- <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/vendor/aos/aos.css" rel="stylesheet">
    <link href="../public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/explore.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Yummy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top  d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
            
                <img src="../public/img/ui.png" alt="">
            
            </a>
            
            <nav id="navbar" class="navbar">
                <ul>
            
                   
            
                    <li><a href="/">All blogs</a></li>
                    <li><a href="/blogs/compose">Compose</a></li>
                    <li><a href="/infra">Infraseek</a></li>
                    <li><a href="/profile"><img id="avatarImage" width="10%" height="8%" src="<%=user.image%>" alt="bear"></a></li>
            
            
                </ul>
            </nav>

        </div>
    </header><!-- End Header -->
<section id="faq" class="faq section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Problem Statements</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p> -->
            <h4 style="text-align: left;">Sub heading</h4>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1"><span> ID : 1   </span>Radial Drilling Machine  <i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In radial drilling machine, it is hard to find the depth of the hole while drilling. So find an attachment which can be
                        attached to the existing radial drilling machine, which makes it semi-automate to drill the desired depth
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question"><span> ID : 2   </span> ChildSafety <i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Creating a system to monitor a child's attendance at school and ensure their safety when playing in a specified area
                        involves a combination of attendance tracking and location-based monitoring. 
                    </p>
                    <div class="inner-text overflow-auto container-fluid" >
                        <p>Parents want to ensure that their child is attending school regularly and is safe when playing in a designated area.
                            Develop a website or app that monitors the child's school attendance and alerts parents if the child crosses a
                            predefined boundary, ensuring their safety.</p>
                        <ol type="I">
                            <li>Crossing Boundary Alert:</li>
                            <p>Define a specific distance (e.g., 100 meters) as a boundary for the child's play area.
                                When the child crosses this boundary, trigger an alert.</p>
                            <li>Parental Alerts:</li>
                            <p>Send immediate alerts to parents through the app or via SMS notifying them of the child's absence from school or
                                crossing the play area boundary.</p>
                            <li> Mobile App/Web Dashboard:</li>
                            <p>
                                Develop a user-friendly mobile app for parents to receive alerts and track their child's attendance and
                                location.
                                Create a web dashboard for more detailed reporting and settings.</p>
                            <li>Emergency Contact Integration:</li>
                        
                            <p>Include emergency contact information within the app, allowing parents to quickly respond to alerts.</p>
                        </ol>
                        <ul>
                            <li>Considerations:</li>
                            <li>Ensure the solution complies with privacy laws and regulations.</li>
                            <li>Implement robust security measures to protect sensitive data.</li>
                            <li>Provide clear communication to parents about the purpose and functionality of the system.</li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question"><span> ID : 3 </span> vehical and smart home management<i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        create a seamless and intuitive experience where users can remotely manage smart home devices by simply engaging in a
                        conversation with their vehicle's voice assistant.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <p>Develop a solution that allows users to control their smart home devices through their vehicle's voice assistant.
                            The solution should be able to:</p>
                        <ol type="I">
                            <li>Identify the user's smart home devices and their current status.</li>
                            <li>Allow users to control their smart home devices through their vehicle's voice assistant.</li>
                            <li>Provide a seamless experience for users to manage their smart home devices.</li>
                        </ol>
                        <ul>
                            <li>Considerations:</li>
                            <li>Ensure the solution complies with privacy laws and regulations.</li>
                            <li>Implement robust security measures to protect sensitive data.</li>
                            <li>Provide clear communication to users about the purpose and functionality of the system.</li>
                        </ul>
                        </div>

                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"><span> ID : 4 </span> Machine <i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        The machine service life is decreased due to lack of support at one end. So provide a bearing at one end and it should
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <ul>
                            <li>It should be reusable.</li>
                            <li>Easy to take bottles from packing.</li>
                            <li>The packing material should not violate government norms.</li>
                            <li>If a heavy commercial vehicle is used to transport bottles to filling station, at least packing material should
                                be transported back to the production plant.</li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"><span> ID : 5 </span>Personal Protection <i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In various occupational settings such as construction sites or electric fields, ensuring the safety and compliance of
                        workers with essential personal protection equipment (PPE) poses a critical challenge. The need is to develop a system
                        that can effectively detect and monitor the usage of specific safety gear, such as hard hats, to enhance workplace
                        safety protocols.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <b>Key Objectives:</b>
                        <p>PPE Compliance Monitoring:
                        
                            Develop a solution that utilizes advanced sensing technologies to monitor whether workers are wearing essential
                            safety gear, such as hard hats, within designated work zones.</p>
                        <p>Real-time Detection:
                        
                            Implement real-time detection mechanisms that instantly identify instances where workers may not be adhering to PPE
                            requirements, triggering immediate alerts for corrective action.</p>
                        <p>Customizable Parameters:
                        
                            Allow site managers or safety officers to customize parameters based on the specific safety requirements of the
                            workplace, ensuring flexibility in monitoring different types of personal protection equipment.</p>
                        <p>Integration with Access Control:
                        
                            Explore integration with access control systems to ensure that individuals without the required safety gear are
                            restricted from entering high-risk areas, promoting a proactive safety culture.</p>
                        <p>User-Friendly Interface:
                        
                            Design a user-friendly interface for site managers and safety officers to easily monitor and track PPE compliance,
                            enabling swift response to potential safety breaches.</p>
                        <p><b>Considerations:</b></p><br>
                        
                           <p><b>Privacy Concerns:</b>  Implement privacy measures to protect the personal data and identity of workers, ensuring
                            compliance with privacy regulations and ethical standards.</p><br>
                        
                           <p> <b>Scalability:</b> Design the system to be scalable, accommodating varying workforce sizes and adapting to different work
                            environments.</p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question"><span> ID : 6 </span> Bottle Packaging <i
                        class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In a traditional way of packing bottles, a cover is used to pack a stack of bottles to transport from the bottle
                        production plant to the filling station. After reaching the filling station, the cover is cut off and it cannot be
                        reused because of tearing. Wooden boxes are not used because returning the boxes increases transportation cost. So
                        design a new way of packing that satisfies the following constraints:
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <p>• It should be reusable.<br>
                            • Easy to take bottles from packing.<br>
                            • The packing material should not violate government norms.<br>
                            • If a heavy commercial vehicle is used to transport bottles to filling station, at least packing material should be
                            transported back to the production plant.
                        </p>
                        </div>
                </div>
            </li>
            <li>
                <div data-bs-toggle="collapse" href="#faq7" class="collapsed question"><span> ID : 7 </span>SmartKitchen <i
                        class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In the realm of modern smart kitchens, envision an intelligent system that simplifies the cooking experience
                        by
                        seamlessly integrating meal planning, ingredient availability checking, and automatic ingredient
                        procurement. This
                        innovative system aims to revolutionize the way we cook by leveraging smart technology to enhance efficiency
                        and
                        convenience.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <b>Key Features:</b><br>
            
                        <p>I) Automated Meal Planning:
            
                            Users can select a desired dish from an extensive recipe database within the smart fridge system.</p>
                        <P>II) Automatic Ingredient Procurement:
            
                            If any essential ingredient is missing, the system seamlessly initiates an automatic ordering process
                            from
                            designated online grocery platforms or local stores.</P>
                        <P>III) Integration with Grocery Services:
            
                            The system is designed to interface with popular grocery services like Zepto, ensuring a swift and
                            reliable
                            procurement process.</P>
                        <P>IV) Pre-emptive Ordering:
            
                            Orders are placed in advance, guaranteeing the arrival of ingredients before the cooking process begins,
                            eliminating
                            delays.</P>
                        <P>V .User Notification:
            
                            Users receive timely notifications confirming the successful order placement and expected delivery time.
                        </P>
                        <P>VI) Customizable Preferences:
            
                            Users have the flexibility to set preferences, such as preferred grocery stores, delivery times, and
                            brand choices.
                        </P>
                        <P>VII) Optimized for Efficiency:
            
                            The system aims to streamline the entire cooking experience, saving users time and effort in meal
                            preparation.</P>
                        <B>Considerations:</B>
            
                        <P>Security: Implement robust security measures to safeguard user data and financial transactions.<BR>
            
                            Integration Compatibility: Ensure seamless integration with various online grocery platforms to
                            accommodate user
                            preferences.<BR>
            
                            User-Friendly Interface: Design an intuitive and user-friendly interface accessible via the smart fridge
                            display or
                            a companion app.</P>
                    </div>
                </div>
            </li>

        </ul>
        

    </div>
</section>
<section id="faq" class="faq section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Problem Statements</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p> -->
            <h4 style="text-align: left;">Sub heading</h4>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq8"><span> ID : 1 </span>Piston Ring <i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        The third piston ring (3piece oil ring) the rail is experiencing deformation due to thin axial width, as a result of the
                        heat treatment procedure, leading to its rejection. The pivotal details regarding this particular ring are outlined
                        below:
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <p>1.
                            The third piston ring rail is undergoing a distortion phenomenon.<br>
                            2.
                            The heat treatment process is causing the third piston ring rail to bend.<br>
                            3.
                            Regrettably, this deformation renders the ring unsuitable for use.<br>
                            4.
                            The rejection of the third piston ring rail is a consequence of the bending incurred during the heat treatment
                            phase.<br>
                            5.
                            The heat-induced deformity is compromising the integrity and /fitment consequently functionality of the
                            ring.<br>
                            6.
                            The rings are used in engines with 85% Ethanol fuel called flex fuel in BS-VI engines of motor cycles and
                            scooters.<br>
                            7.
                            The details of the manufacturing processes used are attached below.<br>
                            8.
                            Make Changes to the heat treatment parameters and refine the manufacturing process which ensure the integrity of
                            the
                            third piston ring rail .<br>
                            9.
                            All the required documents are attached below.<br>
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq9" class="collapsed question"><span> ID : 2 </span> ChildSafety
                    <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq9" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Creating a system to monitor a child's attendance at school and ensure their safety when playing
                        in a specified area
                        involves a combination of attendance tracking and location-based monitoring.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <p>1.
                            The third piston ring rail is undergoing a distortion phenomenon.<br>
                            2.
                            The heat treatment process is causing the third piston ring rail to bend.<br>
                            3.
                            Regrettably, this deformation renders the ring unsuitable for use.<br>
                            4.
                            The rejection of the third piston ring rail is a consequence of the bending incurred during the heat treatment
                            phase.<br>
                            5.
                            The heat-induced deformity is compromising the integrity and /fitment consequently functionality of the ring.<br>
                            6.
                            The rings are used in engines with 85% Ethanol fuel called flex fuel in BS-VI engines of motor cycles and
                            scooters.<br>
                            7.
                            The details of the manufacturing processes used are attached below.<br>
                            8.
                            Make Changes to the heat treatment parameters and refine the manufacturing process which ensure the integrity of the
                            third piston ring rail .<br>
                            9.
                            All the required documents are attached below.<br>
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question"><span> ID : 3 </span> vehical and
                    smart home management<i class="bi bi-chevron-down icon-show"></i><i
                        class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        create a seamless and intuitive experience where users can remotely manage smart home devices by
                        simply engaging in a
                        conversation with their vehicle's voice assistant.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <p>Develop a solution that allows users to control their smart home devices through their
                            vehicle's voice assistant.
                            The solution should be able to:</p>
                        <ol type="I">
                            <li>Identify the user's smart home devices and their current status.</li>
                            <li>Allow users to control their smart home devices through their vehicle's voice assistant.
                            </li>
                            <li>Provide a seamless experience for users to manage their smart home devices.</li>
                        </ol>
                        <ul>
                            <li>Considerations:</li>
                            <li>Ensure the solution complies with privacy laws and regulations.</li>
                            <li>Implement robust security measures to protect sensitive data.</li>
                            <li>Provide clear communication to users about the purpose and functionality of the system.
                            </li>
                        </ul>
                    </div>

                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"><span> ID : 4 </span> Machine <i
                        class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        The machine service life is decreased due to lack of support at one end. So provide a bearing at
                        one end and it should
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <ul>
                            <li>It should be reusable.</li>
                            <li>Easy to take bottles from packing.</li>
                            <li>The packing material should not violate government norms.</li>
                            <li>If a heavy commercial vehicle is used to transport bottles to filling station, at least
                                packing material should
                                be transported back to the production plant.</li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"><span> ID : 5 </span>Personal
                    Protection <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In various occupational settings such as construction sites or electric fields, ensuring the
                        safety and compliance of
                        workers with essential personal protection equipment (PPE) poses a critical challenge. The need
                        is to develop a system
                        that can effectively detect and monitor the usage of specific safety gear, such as hard hats, to
                        enhance workplace
                        safety protocols.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <b>Key Objectives:</b>
                        <p>PPE Compliance Monitoring:

                            Develop a solution that utilizes advanced sensing technologies to monitor whether workers
                            are wearing essential
                            safety gear, such as hard hats, within designated work zones.</p>
                        <p>Real-time Detection:

                            Implement real-time detection mechanisms that instantly identify instances where workers may
                            not be adhering to PPE
                            requirements, triggering immediate alerts for corrective action.</p>
                        <p>Customizable Parameters:

                            Allow site managers or safety officers to customize parameters based on the specific safety
                            requirements of the
                            workplace, ensuring flexibility in monitoring different types of personal protection
                            equipment.</p>
                        <p>Integration with Access Control:

                            Explore integration with access control systems to ensure that individuals without the
                            required safety gear are
                            restricted from entering high-risk areas, promoting a proactive safety culture.</p>
                        <p>User-Friendly Interface:

                            Design a user-friendly interface for site managers and safety officers to easily monitor and
                            track PPE compliance,
                            enabling swift response to potential safety breaches.</p>
                        <p><b>Considerations:</b></p><br>

                        <p><b>Privacy Concerns:</b> Implement privacy measures to protect the personal data and identity
                            of workers, ensuring
                            compliance with privacy regulations and ethical standards.</p><br>

                        <p> <b>Scalability:</b> Design the system to be scalable, accommodating varying workforce sizes
                            and adapting to different work
                            environments.</p>
                    </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question"><span> ID : 6 </span> Bottle
                    Packaging <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In a traditional way of packing bottles, a cover is used to pack a stack of bottles to transport
                        from the bottle
                        production plant to the filling station. After reaching the filling station, the cover is cut
                        off and it cannot be
                        reused because of tearing. Wooden boxes are not used because returning the boxes increases
                        transportation cost. So
                        design a new way of packing that satisfies the following constraints:
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <p>• It should be reusable.<br>
                            • Easy to take bottles from packing.<br>
                            • The packing material should not violate government norms.<br>
                            • If a heavy commercial vehicle is used to transport bottles to filling station, at least
                            packing material should be
                            transported back to the production plant.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div data-bs-toggle="collapse" href="#faq7" class="collapsed question"><span> ID : 7 </span>SmartKitchen
                    <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        In the realm of modern smart kitchens, envision an intelligent system that simplifies the
                        cooking experience
                        by
                        seamlessly integrating meal planning, ingredient availability checking, and automatic ingredient
                        procurement. This
                        innovative system aims to revolutionize the way we cook by leveraging smart technology to
                        enhance efficiency
                        and
                        convenience.
                    </p>
                    <div class="inner-text overflow-auto container-fluid">
                        <b>Key Features:</b><br>

                        <p>I) Automated Meal Planning:

                            Users can select a desired dish from an extensive recipe database within the smart fridge
                            system.</p>
                        <P>II) Automatic Ingredient Procurement:

                            If any essential ingredient is missing, the system seamlessly initiates an automatic
                            ordering process
                            from
                            designated online grocery platforms or local stores.</P>
                        <P>III) Integration with Grocery Services:

                            The system is designed to interface with popular grocery services like Zepto, ensuring a
                            swift and
                            reliable
                            procurement process.</P>
                        <P>IV) Pre-emptive Ordering:

                            Orders are placed in advance, guaranteeing the arrival of ingredients before the cooking
                            process begins,
                            eliminating
                            delays.</P>
                        <P>V .User Notification:

                            Users receive timely notifications confirming the successful order placement and expected
                            delivery time.
                        </P>
                        <P>VI) Customizable Preferences:

                            Users have the flexibility to set preferences, such as preferred grocery stores, delivery
                            times, and
                            brand choices.
                        </P>
                        <P>VII) Optimized for Efficiency:

                            The system aims to streamline the entire cooking experience, saving users time and effort in
                            meal
                            preparation.</P>
                        <B>Considerations:</B>

                        <P>Security: Implement robust security measures to safeguard user data and financial
                            transactions.<BR>

                            Integration Compatibility: Ensure seamless integration with various online grocery platforms
                            to
                            accommodate user
                            preferences.<BR>

                            User-Friendly Interface: Design an intuitive and user-friendly interface accessible via the
                            smart fridge
                            display or
                            a companion app.</P>
                    </div>
                </div>
            </li>

        </ul>


    </div>
</section>

<!-- Vendor JS Files -->
<script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../public/vendor/aos/aos.js"></script>
<script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
<!-- <script src="../public/vendor/php-email-form/validate.js"></script> -->

<!-- Template Main JS File -->
<script src="../public/js/main.js"></script>

</body>

</html>