<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/css/authentication.css" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3">Forgot Password</h4>
                        <form action="/forgot-password" method="POST">
                          <div class="form-group">
                            <input
                              name="email"
                              type="email"
                              class="form-style"
                              placeholder="Email"
                              required
                            />
                            <i class="input-icon uil uil-at"></i>
                          </div>
                          <div class="form-group mt-2">
                            <select
                              name="userType"
                              class="form-select form-style"
                              required
                            >
                              <option value="">Select type of user</option>
                              <option value="student">Seeker</option>
                              <option value="verify">Verify Team</option>
                              <option value="industry">Industry</option>
                            </select>
                            <i class="input-icon uil-user"></i>
                          </div>
                          <button type="submit" class="btn mt-4">
                            Reset Password
                          </button>
                        </form>
                        <% if (typeof error !== 'undefined') { %>
                        <div
                          class="alert mt-3"
                          style="
                            background: rgba(255, 76, 81, 0.1);
                            color: #ff4c51;
                            border: none;
                            border-radius: 4px;
                            padding: 10px;
                          "
                        >
                          <%= error %>
                        </div>
                        <% } %>
                        <p class="mb-0 mt-4 text-center">
                          <a href="/user" class="link">Back to Login</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
