<section class="info">
  <img src="https://codetheweb.blog/assets/img/icon2.png" />
  <h1>Hackathons</h1>
</section>
<section class="cards-wrapper">
  <div class="card-grid-space">
    <div class="num">01</div>
    <a
      class="card"
      href="https://angelhack.com/hackglobal/"
      style="
        --bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg);
      "
    >
      <div>
        <h1>AngelHack Global Hackathon Series</h1>
        <p>The AngelHack Global Hackathon Series is a remarkable.....</p>

        <div class="tags">
          <div class="tag">USD 180,000.</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">02</div>
    <a
      class="card"
      href="https://code.iitm.ac.in/code-programs/HACKATHON2024/about.html"
      style="
        --bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg');
      "
    >
      <div>
        <h1>IITM Hackathon 2024</h1>
        <p>The IITM Hackathon 2024 focuses on Signal Identification.....</p>

        <div class="tags">
          <div class="tag">₹1,00,000 (One lakh).</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">03</div>
    <a
      class="card"
      href="https://fitt-iitd.in/Techfuture/ "
      style="
        --bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg');
      "
    >
      <div>
        <h1>Tech future hackathon</h1>
        <p>The Tech.Future Hackathon 2.0 aims to discover, nurture,...</p>

        <div class="tags">
          <div class="tag"> INR 25 Lakhs.</div>
        </div>
      </div>
    </a>
  </div>
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>
