<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Uncalled Innovators - Empowering Tomorrow, Connecting Today</title>
  <meta name="description"
    content="Uncalled Innovators - Empowering Tomorrow, Connecting Today. Learn and collaborate with hands-on experience in a rapidly changing world.">
  <meta name="keywords" content="Innovation, Collaboration, Learning, Technology, Future">
  <meta name="author" content="Uncalled Innovators">
  
  <!-- Open Graph / Facebook -->
  <!-- <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.uncalledinnovators.tech/">
  <meta property="og:title" content="Uncalled Innovators - Empowering Tomorrow, Connecting Today">
  <meta property="og:description"
    content="Uncalled Innovators - Empowering Tomorrow, Connecting Today. Learn and collaborate with hands-on experience in a rapidly changing world.">
  <meta property="og:image" content="http://www.uncalledinnovators.tech"> -->
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://www.yourwebsite.com/">
  <meta property="twitter:title" content="Uncalled Innovators - Empowering Tomorrow, Connecting Today">
  <meta property="twitter:description"
    content="Uncalled Innovators - Empowering Tomorrow, Connecting Today. Learn and collaborate with hands-on experience in a rapidly changing world.">
  <meta property="twitter:image" content="http://www.yourwebsite.com/path-to-your-image.jpg">
  <!-- Favicons -->
  <!-- <link href="../public/img/favicon.png" rel="icon"> -->
  <!-- <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/vendor/aos/aos.css" rel="stylesheet">
  <link href="../public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../public/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<style>
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
  
</head>

<body>
  <!-- <div id="loadingOverlay"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: white; display: flex; justify-content: center; align-items: center;">
    <div class="spinner"
      style="border: 16px solid #f3f3f3; border-top: 16px solid #3498db; border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite;">
    </div>
  </div> -->

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../public/img/ui.png" alt="">
        <!-- <h1>Yummy<span>.</span></h1> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <!-- <li><a href=<%=process.env.BASE_URL+ "/hackathon"%>>Hackathon</a></li> -->
          <li><a href="#about">About</a></li>
          <li><a href="#events">Projects</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
          <!-- <li><a href="/blogs">Blogs</a></li> -->
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href=<%=process.env.BASE_URL+ "/user"%>>SignUp / SignIn</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Empowering Tomorrow<br>Connecting Today</h2>
          <p data-aos="fade-up" data-aos-delay="100">In a rapidly changing world, hands-on experience is essential. UNCALLED INNOVATORS connects learners, offering a diverse range of practical knowledge that transcend borders and foster a deeper understanding of the world.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-book-a-table">Read More</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="../public/img/img1.png" style="transform: translateZ(0) scale(1.5)" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="m">
    <section id="www">
      <div class="container">
        <img src="../public/img/student.jpg" style="width:50%;height:100%;">
        <ul class="cont1">
          <li class="vertical-btn">
            <details>
              <summary class="w1">when</summary>
              <p class="p1">In a rapidly changing world, hands-on experience 
              </p>
            </details>
          </li>
          <li class="vertical-btn">
            <details>
              <summary class="w2">where</summary>
            <p class="p2">In a rapidly changing world, hands-on experience </p>
            </details>
          </li>
          <li class="vertical-btn">
            <details>
              <summary class="w3">what</summary>
            <p class="p3">In a rapidly changing world, hands-on experience </p>
            </details>
            
          </li>
        </ul>
      </div>
    </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" data-aos="fade-up" data-aos-delay="150">
            <img class="img-fluid" src="../public/img/about.jpg" alt="">
          </div>
          <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p>
                Education should not be a luxury. uncalled innovators is committed to providing affordable and accessible educational resources so that anyone with a desire to
                learn can access the tools they need to succeed".</p> <p>At <span style="font-weight: bold;">UNCALLED INNOVATORS</span>, we view practical experience
                 as a communal experience. Our platform is designed to facilitate collaboration, discussion, and knowledge-sharing among learners, teachers, and experts. Together,
                 we can learn and grow.Education is a dynamic field, and we are committed to continuous improvement. </p><p><span style="font-weight: bold;">UNCALLED INNOVATORS</span> regularly updates and enhances our content and
                 features to stay at the forefront of educational innovationJoin our thriving learning community, where you can engage and collaborate on projects with fellow learners and
                  educators who share your passions."
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Uncalled Innovators?</h3>
              <p>
                Uncalled Innovators is not just a startup, it's a revolutionary platform where industry problems find ingenious solutions
Experience innovation like never before with Uncalled Innovators. We're here to connect industries facing complex problems with the bright minds of the future.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">
              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Rapid Solutions</h4>
                  <p>As a multitude of minds converge, embarking on a collective journey to unravel solutions.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Economical</h4>
                  <p>Joining our collaborative network presents an economically prudent route to partnership.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Easy and Secure</h4>
                  <p>Engaging in a partnership with us guarantees a secure and efficiently structured collaboration.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-8">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="600" data-purecounter-duration="1" class="purecounter"></span>
              <p>Students Enrolled</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-4 col-md-8">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
              <p>Industries</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-4 col-md-8">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p>Colleges</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section>
    <!-- End Stats Counter Section -->

        <!-- ======= Chefs Section ======= -->
        <section id="chefs" class="chefs section-bg">
          <div class="container" data-aos="fade-up">

            <div class="section-header">
              <p>Our <span>Profesional</span> Services</p>
            </div>

            <div class="row gy-4">

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                  <div class="member-img">
                    <img src="../public/img/industry.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>INDUSTRIES</h4>
                    <p>Uncalled Innovators connects small and medium-sized industries with innovative solutions. We offer a platform where industries can present their challenges for efficient, cost-effective resolution.</p>
                  </div>
                </div>
              </div><!-- End Chefs Member -->

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="chef-member">
                  <div class="member-img">
                    <img src="../public/img/student.jpg" class="img-fluid" alt="">

                  </div>
                  <div class="member-info">
                    <h4>STUDENTS</h4>
                    <p>Uncalled Innovators empowers students to tackle real-world issues, gaining practical experience and contributing to solutions through our platform that could shape the future.
                    </p>
                  </div>
                </div>
              </div><!-- End Chefs Member -->

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="chef-member">
                  <div class="member-img">
                    <img src="../public/img/review.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>REVIEW PANELS</h4>
                    <p>At Uncalled Innovators, our expert review panels ensure industries receive well-founded solutions while providing students with valuable feedback to enhance their skills. Quality and innovation are our core principles.</p>
                  </div>
                </div>
              </div><!-- End Chefs Member -->
            </div>

          </div>
        </section>
        <!-- End Chefs Section -->

    <!-- ======= Testimonials Section ======= -->

    <!-- End Testimonials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Events</h2>
          <p>Our top <span>solutions</span> For Industrial Problem Statements.</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper events-wrapper">


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->


    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-2.jpeg"><img src="../public/img/hackathon/galley-2.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-3.jpeg"><img src="../public/img/hackathon/galley-3.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-4.jpeg"><img src="../public/img/hackathon/galley-4.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-5.jpeg"><img src="../public/img/hackathon/galley-5.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-6.jpeg"><img src="../public/img/hackathon/galley-6.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-7.jpeg"><img src="../public/img/hackathon/galley-7.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-3.jpeg"><img src="../public/img/hackathon/galley-3.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../public/img/hackathon/galley-4.jpeg"><img src="../public/img/hackathon/galley-4.jpeg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->
    <section id="testimonials" class="testimonials">
      <div class="container aos-init aos-animate" data-aos="fade-up">
    
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
            iste officiis commodi quidem hic quas.</p>
        </div>
    
        <div
          class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden aos-init aos-animate"
          data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper" id="swiper-wrapper-28cb6b0fe2b7b68a" aria-live="off"
            style="transform: translate3d(-2144px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="4"
              role="group" aria-label="5 / 5" style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
    
            <div class="swiper-slide" data-swiper-slide-index="0" role="group" aria-label="1 / 5"
              style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 5"
              style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                  quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 5"
              style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                  labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="3" role="group" aria-label="4 / 5"
              style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                  dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="4" role="group" aria-label="5 / 5"
              style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 5"
              style="width: 516px; margin-right: 20px;">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../public/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span
              class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span
              class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span
              class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
              aria-label="Go to slide 4" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0"
              role="button" aria-label="Go to slide 5"></span></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    
      </div>
    </section>
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>


        <form action=<%=process.env.BASE_URL+ "/contact"%> method="post" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div data-aos="fade-up"
data-aos-duration="1000" class="container-fluid text-white" style="background-color: #ffdefb;">
  <footer id="footer" class="footer row row-cols-8 pt-5 border-top">
    <div class="col-sm-4">
      <div class="d-flex justify-content-center">
        <img src="../public/img/ui.png" class="w-50 mx-auto rounded-circle img-fluid" alt="RVRJCCE">
      </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
      <ul class="d-flex flex-column list-unstyled ">
        <li class="ms-3 text-center"><img style="width:15px;height:15px" src="../public/Icons/call.png" alt="call"><br><a href="#" class="d-inline nav-link text-light">+91-9550314022</a></li>
        <li class="ms-3 text-center" ><img style="width:15px;height:15px" src="../public/Icons/mail.png" alt="call"><a href="#"  class="d-inline nav-link text-light">uncalledinnovators@gmail.com</a></li>

      </ul>
      </div>
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
      <ul class="list-unstyled d-flex justify-content-center">
        <a href="https://www.youtube.com/c/RVRJCCollegeofEngineering" target="_blank"><img class="rounded-circle m-1 m-1" style="width:40px;height:40px" src="../public/Icons/instagram.png" alt="YouTube"></a>
        <a href="https://www.facebook.com/RVR-JC-College-of-Engineering-Autonomous-442983819071705" target="_blank"><img class="rounded-circle m-1" style="width:40px;height:40px" src="https://img.icons8.com/?size=48&id=TyfbwD75KZ4Q&format=gif" alt="facebook"></a>
        <a href="https://twitter.com/rvrjc_official" target="_blank"><img class="rounded-circle m-1" style="width:40px;height:40px" src="../public/Icons/twitter.png" alt="twitter"></a>
      </ul>
      </div>

  <!-- <div class="vl p-0"></div>  -->
    <div class="col-sm-4 p-2" >
      <!-- <h5 class="border-bottom border-2 border-danger pb-1">Map</h5>   -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3830.3316190062897!2d80.32332137516829!3d16.254765734444238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a76e740000001%3A0xc41c8498715c6da0!2sR.V.R.%20%26%20J.C.College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1699157234638!5m2!1sen!2sin" width="100%" height="100%"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border:2px solid ghostwhite;border-radius:10px;"></iframe>
</div>
  </footer>
</div>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
  <div class="newtons-cradle">
    <div class="newtons-cradle__dot"></div>
    <div class="newtons-cradle__dot"></div>
    <div class="newtons-cradle__dot"></div>
    <div class="newtons-cradle__dot"></div>
    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../public/vendor/aos/aos.js"></script>
  <script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="../public/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="../public/js/main.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('loadingOverlay').style.display = 'none';
    });
  </script>

</body>

</html>
