<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/insertInternship" method="post">
      <input type="number" name="day" placeholder="day" />
      <input type="text" name="description" placeholder="Description" />
      <input type="text" name="companyName" placeholder="Company Name" />
      <input type="text" name="link" placeholder="Internship Link" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
