<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/ctry.css" />
    <%- include('partials/analytics') %>
  </head>
  <body>
    <div class="header">
      <img class="logo" src="../public/img/logo.jpg" alt="Your Logo" />
      <div class="container">
        <div class="rounded-container">
          <a href="#">ours</a>
          <a href="#">yours</a>
          <a href="#">.</a>
        </div>
        <div class="container">
          <div class="strip" id="hover-strip">
            <div class="dots-container">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div class="vertical-container">
            <div class="user-profile">
              <img
                src="../public/img/profile.png"
                alt="User Avatar"
                class="avatar"
              />
              <p class="user-name">User</p>
            </div>
            <div class="spacer"></div>
            <!-- <a href="/blogs">Blogs</a> -->
            <a href="/infraseek">Infraseek</a>
            <a href="/problem">Challenges</a>
            <a href="#">Reels</a>
            <div class="image-link bottom-images">
              <a
                href="https://www.linkedin.com/company/uncalled-innovators/"
                target="_blank"
                ><img src="../public/Icons/linkedin.png" alt="LinkedIn"
              /></a>
              <a
                href="https://www.instagram.com/uncalled_innovators?igsh=MXU1bDBsb3N5amdsdQ=="
                target="_blank"
                ><img src="../public/Icons/instagram.png" alt="Instagram"
              /></a>
              <a href="https://x.com/UncalledInn" target="_blank"
                ><img src="../public/Icons/twitter.png" alt="Twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
