 body {
     font-family: Arial, sans-serif;
     background: linear-gradient(to bottom right, #3e0771, #d8bcf2);
     /* Violet gradient background */
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 form {
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
     /* Subtle box shadow */
     width: 300px;
     max-width: 100%;
 }

 label {
     display: block;
     margin-bottom: 8px;
 }

 input,
 select {
     width: 100%;
     padding: 8px;
     margin-bottom: 12px;
     box-sizing: border-box;
     border: 1px solid #b887e6;
     /* Violet border color */
     transition: border-color 0.3s ease;
 }

 input:focus,
 select:focus,
 button:focus {
     border-color: #8a2be2;
     /* Dark Violet border color on focus */
 }

 button {
    background-color: #9f2be6;
        color: #fff;
        padding: 10px 15px;
        border: 1px solid #b887e6;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        transition: border-color 1s ease;
 }

 button:hover {
     background-color: #b049f9;
 }